@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/

.bannar {
    width: 85vw;
    margin: 3vw auto 0 auto;
    position: relative;
}

.bannar img {
    display: block;
    width: 100%;
    z-index: -1;
}

.bannar div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 2vw;
    z-index: 2;
}

.bannar::after{
    position: absolute;
    content: "";
    background: linear-gradient(180deg, #070211, rgba(255, 255, 255, 0));
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    border-radius: 16px;
}

.bannar div h1{
    font-size: 4.5vw;
    font-weight: 900;
}